.main_menu {
  @apply bg-brown;
  .head {
    @apply h-24 bg-gray text-center text-[45px] text-white  xmd:text-7xl;
  }
  .body {
    @apply flex flex-col gap-7 p-5 xmd:flex-row;
    .box {
      @apply flex flex-col gap-7 pt-4 xmd:w-1/2;
    }
    .other {
      @apply relative flex h-full flex-col justify-around rounded-2xl border-4 border-dashed border-gray p-3;
      &::before {
        content: "Другое";
        @apply absolute left-[65%] -top-7 z-30 bg-brown p-2 text-xl;
      }
      p {
        @apply flex justify-between border-b-2 border-solid border-gray text-xl xmd:text-3xl;
        .gram {
          @apply self-end opacity-70;
        }
      }
    }
    .burger {
      &::before {
        content: "Бургеры";
      }
    }
    .hotdog {
      &::before {
        content: "Хот-доги";
      }
    }
    .kes {
      &::before {
        content: "Кесадильи";
      }
    }
    .snack {
      &::before {
        content: "Закуски";
      }
    }
    .part {
      @apply relative h-fit rounded-2xl border-4 border-dashed border-gray p-3;
      &::before {
        @apply absolute left-[65%] -top-7 z-30 bg-brown p-2 text-xl;
      }
      .item {
        h1 {
          @apply p-1 text-2xl;
        }
        .components {
          @apply p-1;
        }
        .mass {
          @apply opacity-70;
        }
        div {
          @apply flex items-center justify-between gap-7 text-justify;
        }
        p {
          @apply align-top text-xl;
        }
      }
    }
  }
}
